.thanks__content{
        margin: 0 auto;
        padding: 25px 20px;
        max-width: 1230px;
    }

.thanks__inner{

}


.thanks__logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #e6e5e3;
    margin: 50px 0;
}


thanks__massage

.home-form


.home-form__button


.home-form__button-submit